doctype 5
html(lang="en")
  head
    title Understanding MVC
    meta(name="description", content="A short introduction to MVC in the browser")
    meta(name="author", content="Aaron Fay")
    link(rel="stylesheet", href="css/reveal.min.css")
    link(rel="stylesheet", href="css/theme/default.css", id="theme")
    link(rel="stylesheet", href="lib/css/zenburn.css")
    // [if gt IE 9] <!
      <script src="lib/js/html5shiv.js"></script>
    // <![endif]

  body
    .reveal
      .slides
        section
          h3(style="margin-bottom:0px;") understanding
          h1(style="font-size:230px;") MVC
          p.fragment
            small (or maintaining your sanity while developing full-scale applications in the browser...)

        section
          h3 @aaronfay
          h5 dev manager - strathcom media
          p afay@strathcom.com

        section
          h3 background
          ul
            li ~14 years web dev
            li bailed! on php ~2006 for python
            li django/backend dev to 2010
            li "discovered" javascript

        //----------------------------------------------
        //- 
        //- THE PROBLEM BASEMENT SET
        //- 
        section
          section 
            h1 the problem

          section
            b (potential) employer
            q.fragment(style="display:block") So you know javascript?
            br 
            b.fragment you (or me): 
            q.fragment(style="display:block") Sure, I know some jQuery...

          section
            img(src="img/jquery.png")

          section
            img(src="img/jobs.png")

          section
            p We need a jQuery Engineer...
            p.fragment
              img(src="img/jquery-engineer.png")

          section
            h3 to build our new web app!
            img(src="img/mytube.png")

          section
            p or worse...

          section
            img(src="img/facebook.png")

          section
            h4 (12 months later)

          section
            p -- giant jquery screenshot --

          section 
            pre 
              code 
                /* bad code example 1 */

          section 
            pre 
              code 
                /* bad code example 2 */

          section 
            pre 
              code 
                /* bad code example 3 */

        //----------------------------------------------
        //- 
        //- SERIOUS ISSUES BASEMENT SET 
        //- 
        section
          section 
            h2 We end up with some serious issues
            small.fragment (for example...)

          section 
            h3 managing state on client AND server
            pre 
              code 
                /* bad code example 1 */

          section 
            h3 using the dom to determine view state
            pre 
              code 
                /* bad code example 2 */

          section 
            h3 (gross) rendering html and code snippets on the server side
            pre 
              code 
                /* bad code example 3 */

        section
          h1 there has to be 
          h1 a better way
          small.fragment (and there is :)

        //----------------------------------------------
        //- 
        //- WHAT IS MVC?
        //- 
        section
          h2 what is
          h1(style="font-size:230px") MVC?

        section
          p it's a "buzz word"

        section
          q that thing you should be using

        section
          q you're not a REAL developer until...

        section
          h3 Wikipedia says:
          blockquote ... a software architecture that separates the representation of information from the user's interaction with it. The model consists of application data and business rules, and the controller mediates input, converting it to commands ...

        section
          p (still confused)

        section
          h4 turning to the internet, EVERYONE claims to be it
          ul
            li django
            li angular
            li spine
            li knockout
            li rails
            li catalyst
            li robotlegs

        section 
          h1 there's more!

        section
          h3.fragment MVC
          h3.fragment MVCS
          h3.fragment MVP
          h3.fragment MVT
          h3.fragment MVVM
          h3.fragment MVW
          h3.fragment MVMS

        section
          h2 huh?
          img(src="img/help-me.jpg")

        section
          h3 what MVC really is
          small.fragment (clearly)
          h2.fragment misunderstood

        section
          h3 it really should be called 
          h1 data state bindings
          small.fragment (or something like that)

        section
          h4 more simply put:
          h2 binding views to your data.
          small.fragment (and that's really it)

        section
          p let me illustrate
          p with a simple example:



    script(src="lib/js/head.min.js")
    script(src="js/reveal.min.js")
    script(type="text/javascript")
      // Full list of configuration options available here:
      // https://github.com/hakimel/reveal.js#configuration
      Reveal.initialize({
        controls: true,
        progress: true,
        history: true,
        center: true,

        theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
        transition: Reveal.getQueryHash().transition || 'default', // default/cube/page/concave/zoom/linear/none

        // Optional libraries used to extend on reveal.js
        dependencies: [
          { src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
          { src: 'plugin/markdown/showdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
          { src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
          { src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
          { src: 'plugin/zoom-js/zoom.js', async: true, condition: function() { return !!document.body.classList; } },
          { src: 'plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } }
          // { src: 'plugin/remotes/remotes.js', async: true, condition: function() { return !!document.body.classList; } }
        ]
      });